*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "IBM-Plex-Sans", sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main {
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 0.5rem;
    background-image: linear-gradient(to bottom, #003585, #003c97, #0042a8, #0049bb, #0050cd);
}

.side-bar {
    /* background-image: linear-gradient(to right, #b8d4ff, #c1d9ff, #cbdfff, #d4e4ff, #ddeaff); */
    background-image: linear-gradient(to right, #011a40, #011e49, #022353, #03275c, #052c66);
    width: 300px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 0.5rem;
}

.main-content {
    background-image: linear-gradient(to right bottom, #b8d4ff, #bed5f9, #c4d6f3, #c9d7ec, #cfd8e6);
    flex: 1;
    border-radius: 0.75rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}

.logo{
    height: 80%;
    width: 100%;
    margin: 4rem 0 1rem 0;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.navigation {
    /* background-color: #121212; */
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    margin: 0.5rem 0.5rem 0 0.5rem;
    padding: 0.5rem 0.75rem;
}

.nav-options {
    line-height: 2rem;
    padding: 0.5rem 0.75rem;
    opacity: 0.8;
}

.navigation-section{
    margin: 2rem 0 0 0;
}

.nav-options i{
    margin-right: 1.5rem;
    color: white;
}

.nav-options a{
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 2rem;
    font-weight: 600;
}

.nav-options:hover{
    font-size: 1.10rem;
    font-weight: 700;
    opacity: 1;
}

.info {
    margin-bottom: 2rem;
    margin-left: 1rem;
    /* background-color: red; */
    opacity: 0.8;
}

.info-options {
    line-height: 1.5rem;
    opacity: 0.8;
    padding: 0.5rem 0.75rem;
    color: white;
}

.info-options i{
    margin-right: 1.5rem;
}

.info-options a{
    margin-left: 1rem;
    font-weight: 500;
}

.info-options:hover{
    font-size: 1.10rem;
    font-weight: 700;
    opacity: 1;
}

.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

.name-of-site{
    display: flex;
    align-items: baseline;
}

.site-name{
    font-size: 3rem;
    font-weight: 800;
    color: #002962;
    margin-top: 10;
}

.site-quote{
    font-size: 1.25rem;
    font-weight: 600;
    color: #002962;
    margin-top: 0;
    margin-left: 1rem;

}

.line{
    width: 100%;
    border-top: 2px solid #002962;
    opacity: 0.8;
}

.welcome-section{
    display: flex;
    justify-content: flex-start;
    background: url("/static/assets/interview.jpg");
    margin-bottom: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .intro-image{
    margin-left: 5rem;
    margin-top: 3rem;
    padding-bottom: 3rem;
    height: 25%;
    width: 30%;
    border-radius: 150px 150px 0 0;
} */

.textual-info{
    word-wrap: normal;
    width: 400px;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    background-image: linear-gradient(to right, #001c47, #002154, #002762, #002c70, #00327e);
    border-radius: 15px;
    height: 550px;
}

.myheading{
    font-size: 2rem;
    font-weight: 600;
    color: white;
    margin-left: 2rem;
    padding-top: 2.5rem
}

.discription {
    font-size: 1.25rem;
    font-weight: 300;
    color: white;
    margin: 2rem 2rem 0 2rem;
}

.take-test-btn{
    margin-top: 2.5rem;
    margin-left: 7.5rem;
}

.aboutUs{
    width: 90%;
    box-sizing: border-box;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px;
    margin-bottom: 50px;
}
.aboutUs ul li{
    width: 100%;
    list-style-position: outside;
    list-style-type: square;
}

.contactUs{
    width: 90%;
    box-sizing: border-box;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px;
    margin-bottom: 100px;
    padding-top: 50px;

}
.internalDiv{
    width: 90%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-radius: 5px;
    margin-bottom: 50px;
}
.developer{
    box-shadow: 0px 0px 2px 0px;
    border-radius: 2px;
    padding: 30px;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hrrow{
    height: 2px;
    width: 100%;
    background-color: black;
}
.mobile_navigation{
    display: none;
}

@media screen and (max-width: 320px){
    .main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: fit-content;
        flex-wrap: wrap;
        width: 100%;
        padding: 0px;
    }
    .side-bar{
       display: none;
    }

    .side-bar .navigation .logo{
        margin-top: 0px;
        padding: 0px;
        height: 100px;
        width: 100px;
    }
    .mobile_navigation{
        background-image: linear-gradient(to right, #011a40, #011e49, #022353, #03275c, #052c66);
        width: 100%;
        height: 5vh;
        position: fixed;
        top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0px;
        padding: 0px;
        margin-top: 0px;
        z-index: 1;
        transition: 1s ease-in;
    }
    .mobile_navigation .logo{
        display: none;
    }
    .mobile_navigation .navigationSection{
        display: none;
    }

    .mobile_navigation .goup{
        display: none;
    }

    .fullheingNavigation{
        height: 100vh;
        transition: 1s ease-in;
    }

    .fullheingNavigation .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        padding: 0px;
        height: 100px;
        width: 100px;
    }

    .fullheingNavigation .navigationSection{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 0px;
        padding: 0px;
    }
    .fullheingNavigation .dropDown{
        display: none;
    }
    .fullheingNavigation .goup{
        display: block;
        position: absolute;
        bottom: 10px;
        right: 48%;
        transition: 1s ease-in;
    }

    .main-content {
        background-image: linear-gradient(to right bottom, #b8d4ff, #bed5f9, #c4d6f3, #c9d7ec, #cfd8e6);
        border-radius: 0px;
        max-width: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .acc-options{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .top-bar{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .welcome-section{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        background-color: none;
        background-image: none;
    }
    .textual-info{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: none;
        flex-direction: column;
        background-image:none;
        margin-left: 0rem;
    }
    .textual-info p{
        color: black;
    }
    .take-test-btn{
        margin:0px;
        margin-bottom: 10px;
    }
    .name-of-site{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .site-name{
        margin-top: 10px;
        font-size: 2rem;
    }
}


@media screen and (min-width:321px) and (max-width: 768px){
    .main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: fit-content;
        flex-wrap: wrap;
        width: 100%;
        padding: 0px;
    }
    .side-bar{
       display: none;
    }

    .side-bar .navigation .logo{
        margin-top: 0px;
        padding: 0px;
        height: 100px;
        width: 100px;
    }
    .mobile_navigation{
        background-image: linear-gradient(to right, #011a40, #011e49, #022353, #03275c, #052c66);
        width: 100%;
        height: 5vh;
        position: fixed;
        top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0px;
        padding: 0px;
        margin-top: 0px;
        z-index: 1;
        transition: 1s ease-in;
    }
    .mobile_navigation .logo{
        display: none;
    }
    .mobile_navigation .navigationSection{
        display: none;
    }

    .mobile_navigation .goup{
        display: none;
    }

    .fullheingNavigation{
        height: 100vh;
        transition: 1s ease-in;
    }

    .fullheingNavigation .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        padding: 0px;
        height: 100px;
        width: 100px;
    }

    .fullheingNavigation .navigationSection{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 0px;
        padding: 0px;
    }
    .fullheingNavigation .dropDown{
        display: none;
    }
    .fullheingNavigation .goup{
        display: block;
        position: absolute;
        bottom: 10px;
        right: 48%;
        transition: 1s ease-in;
    }

    .main-content {
        background-image: linear-gradient(to right bottom, #b8d4ff, #bed5f9, #c4d6f3, #c9d7ec, #cfd8e6);
        border-radius: 0px;
        max-width: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    /* .acc-options{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    */
    .top-bar{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    } 
    .welcome-section{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        background-color: none;
        background-image: none;
    }
    .textual-info{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: none;
        flex-direction: column;
        background-image:none;
        margin-left: 0rem;
    }
    .textual-info p{
        color: black;
    }
    .take-test-btn{
        margin:0px;
        margin-bottom: 10px;
    }
    .name-of-site{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}


/* 0 < small devies < 320px 
 320 < medim < 768px
large > 769px



*/

/* start of desktop styles 
@media screen and (max-width: 991px) {
    /* start of large tablet styles 
    
    }
    
    @media screen and (max-width: 767px) {
    start of medium tablet styles
    
    }
    
    @media screen and (max-width: 479px) {
    start of phone styles 
    
    }
*/